<footer class="app-footer">
    <a href="http://rlb.com/en/">Rider Levett Bucknall</a> &copy; 2017.
    <span class="float-right">Powered by <a href="http://rlb.com/en/">Rider Levett Bucknall</a>
    </span>
</footer>
